* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h1 {
  font-family: broken;
  color: #ff0000;
  font-size: 7vw;
  position: absolute;
  text-shadow: #212529 10px 10px 8px;
  font-size: 10vw;
}

h2, h4, h3, .sumate {
  font-size: 5vw;
  font-family: bebasneue;
  color: whitesmoke;
  margin: 1em;
  margin-top: 0.5em;
  text-align: center;
}

h3, .sumate {
  font-size: 3vw;
  margin-top: 3em;
}

h4 {
  font-size: 2vw;
  margin-top: 3em;
}

ul li {
  list-style: none;
}

.h-relleno {
  font-family: bebasneue;
  font-size: 20px;
  text-decoration: none;
}

.p-relleno {
  font-family: helveticaa;
  text-decoration: none;
}

.sumate a {
  text-decoration: none;
  border: whitesmoke 2px solid;
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  transition: 300ms;
}

@font-face {
  font-family: "bebasneue";
  src: url(../fonts/bebasneue_regular.woff2);
}
@font-face {
  font-family: "broken";
  src: url(../fonts/broken-webfont.woff2);
}
@font-face {
  font-family: "helveticaa";
  src: url(../fonts/helvetica.woff2);
}
body {
  font-family: helvetica;
  color: whitesmoke;
  background-color: rgb(26, 26, 26);
  height: 100vh;
  max-width: 100%;
}

/* NAVBAR */
nav ul li {
  font-family: bebasneue;
  font-size: 30px;
  color: whitesmoke;
}
nav img {
  width: 50px;
  margin: 5px 10px;
}
nav ul li {
  cursor: pointer;
  border-radius: 10px;
  margin: 0 1vw;
  transition: 500ms ease-in-out;
}
nav ul li :hover {
  /* background-color: #ff0000; */
  background-image: linear-gradient(to top, red, #212529);
  border-radius: 10px;
}
nav .equipos-nav ul li {
  font-family: bebasneue;
  font-size: 2vw;
  color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
nav .equipos-nav ul li :hover {
  background-color: red;
  border-radius: 10px;
}

/* NAVBAR */
/* INDEX */
div.cabecera {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
div.cabecera video {
  width: 100%;
  height: 100%;
  position: relative;
  filter: blur(7px);
}

div.sobre-nosotros {
  margin: 3em;
}

div.equipos-index {
  margin: 3em;
}

/* INDEX */
/* EQUIPOS */
div.jugador {
  margin: 0 6em;
}
div.jugador img {
  width: 20vw;
}

/* EQUIPOS */
/* TIENDA */
.titulo_tienda {
  text-align: center;
  margin: 20px;
  color: whitesmoke;
  font-family: bebasneue;
  font-size: 80px;
}

.buscadorProductos {
  display: flex;
  width: 80%;
  margin: auto;
}

.contenedorTarjetasProductos {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  justify-content: center;
}
.contenedorTarjetasProductos .contenedorProductos {
  border: 2px solid red;
  border-radius: 10px;
  width: 200px;
  height: auto;
  margin: 30px 15px;
  padding: 5px;
}
.contenedorTarjetasProductos .contenedorProductos h5 {
  margin-top: 5px;
  font-size: 20px;
  text-align: left;
}
.contenedorTarjetasProductos .contenedorProductos button {
  background-color: #1c1f1d;
  color: whitesmoke;
  padding: 3px;
  border-radius: 10px;
}
.contenedorTarjetasProductos .contenedorProductos button:hover {
  box-shadow: 2px 2px 2px rgb(255, 0, 0);
}
.contenedorTarjetasProductos .contenedorProductos img {
  width: 100%;
}

.mostrarCarrito {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 55px;
  height: 55px;
  bottom: 30px;
  right: 30px;
  background: #1c1f1d;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 25px;
  box-shadow: 0px 1px 10px rgb(0, 0, 0);
  z-index: 100;
}
.mostrarCarrito:hover {
  box-shadow: 0px 1px 10px rgb(255, 0, 0);
}

#contenedorCarrito {
  display: flex;
  position: fixed;
  background-color: rgb(43, 42, 42);
  height: 55px;
  bottom: 30px;
  border-radius: 5px 5px 50px 5px;
  right: 30px;
  width: 50%;
  height: 80%;
  opacity: 100;
  transition: 300ms;
}
#contenedorCarrito .carrito {
  display: block;
  width: 100%;
  height: 100%;
  margin: 20px;
}

.oculta {
  display: none !important;
  transition: 300ms;
}

/* TIENDA */
/* CONTACTO */
.formulario {
  margin-bottom: 20px;
}
.formulario iframe {
  width: 100%;
  height: 100%;
}

/* CONTACTO */
/* FOOTER */
main.pie-pagina {
  font-family: helveticaa;
  font-size: 15px;
}
main.pie-pagina ul li {
  list-style: none;
}
main.pie-pagina .marca,
main.pie-pagina .terminos-condiciones,
main.pie-pagina .redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
}
main.pie-pagina .redes-sociales img {
  width: 25px;
  margin: 5px;
}
main.pie-pagina .marca img {
  width: 50px;
}

/* FOOTER */
@media screen and (max-width: 640px) {
  nav img {
    width: 40px;
    margin: 0px 0px;
  }
  nav img ul li {
    font-size: 20px;
  }
  nav img .equipos-nav ul li {
    font-size: 4vw;
  }
  h2, h3, h4, .sumate {
    font-size: 8vw;
  }
  h3, .sumate {
    font-size: 6vw;
  }
  h4 {
    font-size: 4vw;
  }
  div.jugador {
    margin: 0.3em;
  }
  div.jugador img {
    width: 100%;
  }
  div.politica-privacidad p {
    height: 50vw;
    font-size: 3vw;
    box-sizing: border-box;
    overflow: scroll;
  }
  div.ropa {
    margin: 0 15%;
  }
  div.ropa h5 {
    margin-bottom: 10px;
  }
  div.ropa img {
    width: 100%;
  }
  div.ropa .boton {
    font-size: 8px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1080px) {
  nav img {
    width: 10vw;
    margin: 0.5vw 2vw;
  }
  nav ul li {
    font-size: 5px;
  }
}
/* BOTONES */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
