* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

@font-face {
  font-family: "bebasneue";
  src: url(../fonts/bebasneue_regular.woff2);
}
@font-face {
  font-family: "broken";
  src: url(../fonts/broken-webfont.woff2);
}
@font-face {
  font-family: "helveticaa";
  src: url(../fonts/helvetica.woff2);
}
body {
  background-color: rgba(0, 0, 0, 0.9);
  font-family: helvetica;
  color: whitesmoke;
  background-color: rgb(26, 26, 26);
  height: 100vh;
  max-width: 100%;
}

/* NAVBAR */
nav ul li {
  font-family: bebasneue;
  font-size: 2vw;
  color: whitesmoke;
}
nav img {
  width: 5vw;
  margin: 0.5vw 2vw;
}
nav ul li {
  cursor: pointer;
  border-radius: 10px;
  margin: 0 1vw;
}
nav ul li :hover {
  background-color: #ff0000;
  border-radius: 10px;
}
nav .equipos-nav ul li {
  font-family: bebasneue;
  font-size: 2vw;
  color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
nav .equipos-nav ul li :hover {
  background-color: red;
  border-radius: 10px;
}

/* NAVBAR */
/* INDEX */
div.cabecera {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
div.cabecera video {
  width: 100%;
  height: 100%;
  position: relative;
  filter: blur(7px);
}
div.cabecera h1 {
  font-family: broken;
  color: #ff0000;
  font-size: 150px;
  position: absolute;
  text-shadow: #212529 10px 10px 8px;
  font-size: 10vw;
}

h2 {
  font-size: 5vw;
  font-family: broken;
  color: whitesmoke;
  margin: 2em;
  margin-top: 1em;
  text-align: center;
}

h3 {
  font-size: 4vw;
  font-family: broken;
  color: whitesmoke;
  margin: 2em;
  margin-top: 4em;
  text-align: center;
}

div.sobre-nosotros {
  margin: 3em;
}

div.equipos-index {
  margin: 3em;
}

/* INDEX */
/* EQUIPOS */
div.jugador {
  margin: 0 6em;
}
div.jugador h5 {
  margin-bottom: 1em;
}
div.jugador img {
  width: 20vw;
}

div.sumate {
  margin: 2em;
  text-align: center;
  font-size: 4vw;
  font-family: broken;
}
div.sumate a {
  text-decoration: none;
  border: whitesmoke 2px solid;
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  transition: 300ms;
}
div.sumate :hover {
  cursor: pointer;
  background: #212529;
  box-shadow: 5px 5px 3px rgb(255, 0, 0);
}

/* EQUIPOS */
/* CONTACTO */
div.politica-privacidad p {
  height: 18vw;
  font-size: 1vw;
  text-align: left;
  box-sizing: border-box;
  overflow: scroll;
}

/* CONTACTO */
/* FOOTER */
div.pie-pagina {
  font-family: helveticaa;
  font-size: 15px;
}
div.pie-pagina ul li {
  list-style: none;
}
div.pie-pagina .marca,
div.pie-pagina .terminos-condiciones,
div.pie-pagina .redes-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.pie-pagina .redes-sociales img {
  width: 25px;
  margin: 5px;
}
div.pie-pagina .marca img {
  width: 50px;
}

/* FOOTER */
@media screen and (max-width: 640px) {
  nav img {
    width: 10vw;
    margin: 0.5vw 2vw;
  }
  nav ul li {
    font-size: 5vw;
  }
  nav .equipos-nav ul li {
    font-size: 4vw;
  }
  h3 {
    font-size: 6vw;
  }
  div.jugador {
    margin: 0.3em;
  }
  div.jugador img {
    width: 100%;
  }
  div.politica-privacidad p {
    height: 50vw;
    font-size: 3vw;
    box-sizing: border-box;
    overflow: scroll;
  }
}

/*# sourceMappingURL=style.css.map */
