@import "./partials/reset";
@import "./partials/variables";
@import "./partials/mixins";


@include encabezados();
@include textos-relleno();
@include sumate();

@font-face {
    font-family: "bebasneue";
    src: url(../fonts/bebasneue_regular.woff2);
}

@font-face {
    font-family: "broken";
    src: url(../fonts/broken-webfont.woff2);
}

@font-face {
    font-family: "helveticaa";
    src: url(../fonts/helvetica.woff2);
}

body {
    font-family: helvetica;
    color: whitesmoke;
    background-color: rgb(26, 26, 26);
    height: 100vh;
    max-width: 100%;
    overflow-y: auto;

}

/* NAVBAR */


nav {
    ul li {
        font-family: bebasneue;
        font-size: 30px;
        color: whitesmoke;
    }

    img {
        width: 50px;
        margin: 5px 10px;
    }

    ul li {
        cursor: pointer;
        border-radius: 10px;
        margin: 0 1vw;
        transition: 500ms ease-in-out;

        :hover {
            /* background-color: #ff0000; */
            background-image: linear-gradient(to top, red, $color-nav);
            border-radius: 10px;
        }
    }

    .equipos-nav {
        ul li {
            font-family: bebasneue;
            font-size: 2vw;
            color: whitesmoke;
            border-radius: 10px;
            cursor: pointer;
            transition: 300ms ease-in-out;

            :hover {
                background-color: red;
                border-radius: 10px;
            }
        }
    }
}

/* NAVBAR */


/* INDEX */

div.cabecera {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    video {
        width: 100%;
        height: 100%;
        position: relative;
        filter: blur(7px);
    }

}

div.sobre-nosotros {
    margin: 3em;
}

div.equipos-index {
    margin: 3em;
}


/* INDEX */

/* EQUIPOS */
div.jugador {
    margin: 0 6em;

    img {
        width: 20vw;
    }
}

/* EQUIPOS */


/* TIENDA */

.titulo_tienda {
    text-align: center;
    margin: 20px;
    color: whitesmoke;
    font-family: bebasneue;
    font-size: 80px;
}

.buscadorProductos {
    display: flex;
    width: 60%;
    margin: auto;
}

.contenedorTarjetasProductos {
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    justify-content: center;
    .contenedorProductos {
        display: flex;
        flex-direction: column;
        border: 2px solid #282c29;
        border-radius: 10px;
        width: 200px;
        height: auto;
        margin: 30px 15px;
        padding: 5px;

        h5 {
            margin-top: 5px;
            font-size: 20px;
            text-align: left;
        }

        button {
            border: 2px solid #282c29;
            background-color: #1c1f1d;
            color: whitesmoke;
            padding: 3px;
            border-radius: 10px;
            margin: auto;

            &:hover {
                box-shadow: 2px 2px 2px #ff0000;
            }

        }

        img {
            width: 100%;
        }
    }
}

.mostrarCarrito {
    border: 2px solid red;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 55px;
    height: 55px;
    bottom: 30px;
    right: 30px;
    background: #1c1f1d;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    box-shadow: 0px 1px 10px rgb(0, 0, 0);
    z-index: 100;

    &:hover {
        box-shadow: 0px 1px 10px #ff0000;
    }
}

.contenedorCarrito {
    display: flex;
    position: fixed;
    background-color: #2b2a2a;
    height: 55px;
    bottom: 55px;
    border-radius: 5px 5px 50px 5px;
    right: 30px;
    width: 50%;
    height: 70%;
    overflow-y: auto;
    

    .carrito {
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 80%;
        margin: 20px;
        
        p {
            margin: 0;
        }
    }

    .comprarCarrito {
        border: 2px solid red;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 80px;
        height: 40px;
        bottom: 35px;
        right: 100px;
        font-size: 15px;
        border-radius: 12px;
        background-color: #2b2a2a;
        color: #ffffff;

        &:hover {
            box-shadow: 0px 1px 10px rgb(255, 0, 0);
        }
    }

    .vaciarCarrito {
        border: 2px solid red;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 80px;
        height: 40px;
        bottom: 35px;
        right: 200px;
        font-size: 15px;
        border-radius: 12px;
        background-color: rgb(43, 42, 42);
        color: rgb(255, 255, 255);

        &:hover {
            box-shadow: 0px 1px 10px rgb(255, 0, 0);
        }
    }

}

.contenedorFiltroCategorias{
    display: flex;
    flex-direction: column;
    width: 10%;
    background-color: rgb(10, 10, 10);
    margin: 10px auto ;
    .categoriasBuscador{
        background-color: #1c1f1d;
        color: white;
        border: 2px solid #282c29;
        &:hover{
            background-color: rgb(59, 59, 59); 
        }
    }
    .filtroCategoria{
        background-color: #1c1f1d;
        color: white;
        border: 0;
        &:hover{
            background-color: rgb(59, 59, 59); 
        }
    }
}

.tostada {
    background: #2b2a2a;
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(255, 0, 0);
}



.oculta {
    display: none !important;
}

/* TIENDA */


/* CONTACTO */

.formulario {
    margin-bottom: 20px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

/* CONTACTO */


/* FOOTER */

main.pie-pagina {
    font-family: helveticaa;
    font-size: 15px;

    ul li {
        list-style: none;
    }

    .marca,
    .terminos-condiciones,
    .redes-sociales {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .redes-sociales {
        img {
            width: 25px;
            margin: 5px;
        }
    }

    .marca {
        img {
            width: 50px;
        }
    }
}

/* FOOTER */




@media screen and (max-width: 640px) {
    nav {
        img {
            width: 40px;
            margin: 0px 0px;

            ul li {
                font-size: 20px;
            }

            .equipos-nav {
                ul li {
                    font-size: 4vw;
                }
            }
        }

    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 6vw;
    }

    h4 {
        font-size: 4vw;
    }

    div.jugador {
        margin: 0.3em;

        img {
            width: 100%;
        }
    }

    div.politica-privacidad {
        p {
            height: 50vw;
            font-size: 3vw;
            box-sizing: border-box;
            overflow: scroll;
        }
    }



    div.ropa {
        margin: 0 15%;

        h5 {
            margin-bottom: 10px;
        }

        img {
            width: 100%;
        }

        .boton {
            font-size: 8px;
        }
    }

}

@media screen and (min-width:640px) and (max-width: 1080px) {
    nav {
        img {
            width: 10vw;
            margin: 0.5vw 2vw;
        }

        ul li {
            font-size: 5px;
        }
    }
}


@import "./partials/condicionales";
@import "./partials/bucles";