@mixin encabezados() {
    h1 {
        font-family: broken;
        color: #ff0000;
        font-size: 7vw;
        position: absolute;
        text-shadow: $color-nav 10px 10px 8px;
        font-size: 10vw;
    }

    h2 {
        font-size: 5vw;
        font-family: bebasneue;
        color: whitesmoke;
        margin: 1em;
        margin-top: 0.5em;
        text-align: center;
    }

    h3 {
        @extend h2;
        font-size: 3vw;
        margin-top: 3em;
    }

    h4 {
        @extend h2;
        font-size: 2vw;
        margin-top: 3em;
    }
}

@mixin textos-relleno(){
    ul{
        li{
            list-style: none;
        }
    }
    .h-relleno{
        font-family: bebasneue;
        font-size: 20px;
        text-decoration: none;
    }
    .p-relleno{
        font-family: helveticaa;
        text-decoration: none;
    }
}

@mixin sumate(){
    .sumate{
        @extend h3;
        a{    
            text-decoration: none;
            border: whitesmoke 2px solid;
            border-radius: 10px;
            color: whitesmoke;
            padding: 10px;
            transition: 300ms;
        }
    }
}